.tech {

}

.developer {

}

.techHeader {

}

.developerHeader {

}

.row {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #cccccc;
    padding: 10px ;
    margin: 5px
}

.rowHeader {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px ;
    margin: 5px
}

.loading {
  position: absolute;
}