.App {
    --header_height: 60px;
    background-color: white ;

}

.hw {
    /*position: absolute;*/
    min-height: 400px ;
    border-bottom: 2px solid gray;
    padding: 50px 8%;

}

.hwTitle {
    height: 80px;
    border-bottom: 2px solid gray;
    font-size: 25px;
    font-family: Baskerville;
    color: black;
    text-align: left;
    padding-top: 30px;
    padding-left: 50px;
}